<style>
 @import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Rubik+Mono+One&display=swap');
  form {
    color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: 'Lalezar', cursive;
  font-size: 30px;;
  }

  #theBox {
  background-color: rgba(245, 222, 179, 0.432);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#button {
    width: 18%;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(240, 185, 84, 0.432);
    border: 4px solid rgba(245, 245, 245, 0.274);

  }

  input {
    padding: 10px;
  border-radius: 5px;
  width: 12%;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(245, 222, 179, 0.432);
    border: 4px solid rgba(245, 245, 245, 0.185);

}
</style>
<div id="theBox">
<form action="/auth/login" method="POST">
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">

 
</label> 

  <input id="button" type="submit" value="Log In">


</form>
</div>