<style>
    @import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Rubik+Mono+One&display=swap');
#theBox {
  background-color: rgba(245, 222, 179, 0.432);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

label {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: 'Lalezar', cursive;
  font-size: 30px;;
  
}

</style>

<div id="theBox">
<form action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">
  <br/>
  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">
  <br/>
  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">
  <br/>
  <label for="switch" >  </label> 
  <input id="switch" type="checkbox" name="seller"
                     /> 
       
            <p>seller</p> 
       

  <input type="submit" value="Sign up">
</form>
</div>