<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Famished</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/alerts') %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
     body {
       background-image: url('https://imgix.ranker.com/list_img_v2/1749/2521749/original/delicious-anime-food-u1?w=817&h=427&fm=jpg&q=50&fit=crop');
       background-repeat: no-repeat;
       
       background-size: cover;
     }
     h1 {
       text-align:center;
       font-size: 160px;
       color:antiquewhite;
       background-color: rgba(222, 184, 135, 0.705);
       font-family: 'Rubik Mono One', sans-serif;
     }

    </style>
    <header>
      <nav>
        <ul>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else {%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <h1>Famished</h1>
    <%- body %>
  </body>
</html>