<style>
.container {
    width:34%;
    margin-left: 12%;
    background-color: rgba(153, 66, 66, 0.466);
    display: inline-block;
    border: 4px  solid rgba(197, 54, 161, 0.555);
    border-radius: 10px;
    padding: 10px;

  }
h1 {
    margin-top: 0;
    margin-bottom: 2%;
}

h2 {
       text-align:center;
       font-size: 45px;
       color:antiquewhite;
       background-color: rgba(55, 87, 65, 0.295);
       font-family: 'Rubik Mono One', sans-serif;
       margin: 0px;
     }

input {
    padding: 10px;
  border-radius: 5px;
  width: 80%;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(88, 172, 228, 0.247);
    border: 4px solid rgba(245, 245, 245, 0.185);

}

label{
  font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
}
select {
    padding: 10px;
  border-radius: 5px;
  width: 50%;
    font-family: 'Lalezar', cursive;
    font-size: 20px;
    padding: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(245, 222, 179, 0.432);
    border: 4px solid rgba(245, 245, 245, 0.185);

}   

  form {
   
    font-family: 'Rubik Mono One', sans-serif;
    color:rgb(255, 255, 255);
    margin: auto;
    text-align: center;
  }   

  #button {
    width: 35%;
  }
</style>

<div class="container">
    <form action="/seller_address/seller_address" method="POST">
        <label for="userBusiness">Business Name</label>
        <br/>
        <input id="userBusiness" type="text" name="business">
        <br/>
        <label for="userInfo">Business Info</label>
        <br/>
        <input id="userInfo" type="text" name="info">
        <br/>
        <input id="userImage" type="hidden" value="http://cdn.onlinewebfonts.com/svg/img_508999.png"name="image">
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <label for="userOpen">Opens at</label>
        <br/>
        
<select id="userOpen" name="open">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select>
        <br/>
        <label for="userClose">Closes at</label>
        <br/>
        <select id="userClose" name="close">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <br/>
        <label for="website">Website</label>
        <br/>
        <input id="website" type="text" name="website">
        <br/>
        <br/>
        <input type="submit">
     </form>
</div>