<div class="container">
    <form action="/seller_address/seller_address" method="POST">
        <label for="userBusiness">Business Name</label>
        <br/>
        <input id="userBusiness" type="text" name="business">
        <br/>
        <label for="userInfo">Business Info</label>
        <br/>
        <input id="userInfo" type="text" name="info">
        <br/>




        <label for="userImage">Image or Logo</label>
        <br/>
        <input id="userImage" type="hidden" value="http://cdn.onlinewebfonts.com/svg/img_508999.png"name="image">
        <br/>
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <label for="userOpen">Opens at</label>
        <br/>
        <input id="userOpen" type="text" name="open">
        <br/>
        <label for="userClose">Closes at</label>
        <br/>
        <input id="userClose" type="text" name="close">
        <br/>
        <label for="website">Website</label>
        <br/>
        <input id="website" type="text" name="website">
        <br/>
        
        <input type="submit">

</div>