<div class="container">
    <form action="/address/user_address" method="POST">
      
        <!-- name is the key that this data will enter our app at; it should match up to the fields we want to save on our dino -->
        <label for="userStreet">Street Address</label>
        <br/>
        <input id="userStreet" type="text" name="street">
        <br/>
        <label for="userCity">City</label>
        <br/>
        <input id="userCity" type="text" name="city">
        <br/>
        <label for="userState">State</label>
        <br/>
        <input id="userState" type="text" name="state">
        <br/>
        <label for="userZip">ZIP code</label>
        <br/>
        <input id="userZip" type="text" name="zip">
        <br/>
        <input type="submit">
      </form>
    </div>
    <div class="container">
    <h2>SELECT YOUR ITEM HERE</h2>
    <form action="/user_food/profile" method="POST">